.logo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: xx-large;
}
.logo-span {
  color: #fe0c84;
}
.links {
  font-weight: 600;
  font-family: "Montserrat";
}
